/*No olvidarse de importar las variables*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

* html {
  scroll-behavior: smooth; }

.kenburns-top {
  animation: kenburns-top 5s ease-out both; }

@keyframes kenburns-top {
  0% {
    transform: scale(1) translateY(0);
    transform-origin: 50% 16%; }
  100% {
    transform: scale(1.05) translateY(-15px);
    transform-origin: top; } }

.shake-vertical {
  animation: shake-vertical 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) 3s both; }

@keyframes shake-vertical {
  0%,
  100% {
    transform: translateY(0); }
  10%,
  30%,
  50%,
  70% {
    transform: translateY(-3px); }
  20%,
  40%,
  60% {
    transform: translateY(3px); }
  80% {
    transform: translateY(2px); }
  90% {
    transform: translateY(-2px); } }

body {
  background: linear-gradient(to top, #0b0b0b, #dad6d6);
  height: fit-content; }

.encabezado {
  background-color: rgba(215, 202, 157, 0.9);
  margin-bottom: 20px; }

/* Main pag principal*/
#pagPrincipal {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-areas: "txEntrada txEntrada imgEntrada" "container container imgEntrada";
  background-color: white;
  margin-top: 70px;
  justify-items: center; }
  #pagPrincipal .txEntrada {
    padding: 30px 0;
    grid-area: txEntrada;
    text-align: left; }
  #pagPrincipal .container {
    grid-area: container;
    display: flex;
    align-items: flex-start;
    padding: 10px;
    flex-wrap: wrap; }
    #pagPrincipal .container .p1 {
      text-align: justify;
      font-size: large; }
  #pagPrincipal .imgEntrada {
    grid-area: imgEntrada; }

hr {
  background-color: rgba(215, 202, 157, 0.9);
  height: 3px;
  width: 100%;
  margin-left: 30px;
  margin-right: 30px;
  box-sizing: inherit; }

#tarjetas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 2rem;
  justify-items: center;
  text-align: center;
  column-gap: 10px; }
  #tarjetas .tarjetas__caja {
    width: 344px;
    background-color: #efa5a5;
    padding: 2rem 3rem;
    border-radius: 20px;
    box-shadow: #0000001a 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; }
    #tarjetas .tarjetas__caja .tarjetas__btn {
      display: inline-block;
      background-color: rgba(208, 59, 109, 0.893);
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
      color: white;
      text-transform: uppercase;
      padding: 0.5rem 2rem;
      border-radius: 10px;
      margin: 1.5rem 0rem; }
      #tarjetas .tarjetas__caja .tarjetas__btn:hover {
        transform: scale(1.05);
        background-color: darkgrey; }

@media screen and (max-width: 500px) {
  #pagPrincipal {
    grid-template-columns: auto;
    grid-template-areas: "txEntrada"  "imgEntrada" "container";
    justify-content: center; }
    #pagPrincipal .txEntrada {
      grid-area: txEntrada;
      padding: 10px; }
      #pagPrincipal .txEntrada h2 {
        font-size: small;
        padding-top: 10px;
        margin-bottom: 0;
        font-weight: 800;
        line-height: 0; }
    #pagPrincipal .container {
      grid-area: container;
      margin: 0;
      padding: 5px; }
      #pagPrincipal .container .p1 {
        font-size: small; }
    #pagPrincipal .imgEntrada img {
      width: 360px; }
  #tarjetas {
    padding: 15px;
    margin: 1rem;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 5px; }
    #tarjetas .tarjetas__caja {
      width: 280px; } }

@media screen and (min-width: 500px) and (max-width: 1000px) {
  #pagPrincipal {
    grid-template-areas: "txEntrada"  "imgEntrada" "container";
    margin-top: 70px; }
    #pagPrincipal .txEntrada {
      grid-area: txEntrada;
      margin: 0;
      text-align: center; }
      #pagPrincipal .txEntrada h2 {
        font-size: large;
        text-align: center; }
    #pagPrincipal .container {
      grid-area: container;
      padding: 10px; }
    #pagPrincipal .imgEntrada {
      grid-area: imgEntrada;
      display: flex;
      justify-content: center; }
  #tarjetas {
    padding: 15px;
    margin: 1rem;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 5px; } }

/* Footer */
.foot {
  padding: 10px 50px;
  height: fit-content;
  display: grid;
  grid-template-columns: 0.4fr 4fr;
  grid-template-rows: 3fr;
  align-items: center;
  background-color: black;
  color: whitesmoke; }
  .foot .social {
    justify-content: flex-start; }
  .foot h3 {
    font-size: large;
    text-align: center; }
  .foot h4 {
    font-size: medium;
    text-align: center;
    color: rgba(215, 202, 157, 0.9); }

@media screen and (max-width: 600px) {
  .foot {
    grid-row: 1fr 1fr;
    justify-content: center; }
  .social {
    margin: 5px; }
  .social a {
    padding: 0 5px; }
  .texto {
    margin: 5px; } }

@media screen and (max-width: 480px) {
  .foot {
    padding: 5px 25px; }
    .foot .texto {
      margin: 5px; }
    .foot .social {
      margin: 5px; }
    .foot .social a {
      padding: 0 5px; } }

.whatsapp {
  position: fixed;
  bottom: 30px;
  right: 30px; }

/* Pagina Servicios*/
#mainServicios {
  display: grid;
  grid-template-rows: auto 50px 400px auto;
  grid-template-areas: "imgServicios imgServicios imgServicios imgServicios" "imgServ imgServ imgServ introServ" "imgServ imgServ imgServ txServicios" "bloquesServicios bloquesServicios bloquesServicios bloquesServicios";
  padding: 0 10px 20px 10px;
  gap: 5px; }
  #mainServicios .imgServicios {
    grid-area: imgServicios; }
  #mainServicios .imgServ {
    grid-area: imgServ;
    display: flex;
    align-items: center; }
  #mainServicios .introServ {
    grid-area: introServ;
    text-align: center;
    padding: 30px 10px; }
    #mainServicios .introServ h1 {
      font-style: italic;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 40px;
      font-weight: 700; }
  #mainServicios .txServicios {
    grid-area: txServicios;
    display: flex;
    align-items: center;
    padding: 10px; }
    #mainServicios .txServicios .p1 {
      text-align: justify;
      font-size: large; }
  #mainServicios .bloquesServicios {
    grid-area: bloquesServicios;
    display: flex;
    justify-content: space-around; }
    #mainServicios .bloquesServicios .card-title {
      text-align: center;
      text-decoration: underline; }

.qrsServicios {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  grid-template-rows: auto;
  grid-template-areas: "qr1Ser qr2Ser vdServicios vdServicios";
  margin: 1rem;
  align-items: stretch;
  justify-items: center; }
  .qrsServicios .qr1Ser {
    grid-area: qr1Ser;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .qrsServicios .qr1Ser .btn {
      background-color: rgba(215, 202, 157, 0.9); }
  .qrsServicios .qr2Ser {
    grid-area: qr2Ser;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .qrsServicios .qr2Ser .btn {
      background-color: rgba(215, 202, 157, 0.9); }
  .qrsServicios .vdServicios {
    grid-area: vdServicios;
    display: flex;
    align-items: stretch; }

@media screen and (max-width: 500px) {
  #mainServicios {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "imgServicios" "introServ" "imgServ" "txServicios" "bloquesServicios";
    justify-content: center; }
    #mainServicios .imgServ {
      display: grid;
      justify-content: center; }
      #mainServicios .imgServ img {
        height: 150px;
        width: 360px; }
    #mainServicios .introServ {
      grid-area: introServ;
      padding: 10px; }
      #mainServicios .introServ h1 {
        font-style: italic;
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;
        font-weight: 800;
        line-height: 0; }
    #mainServicios .txServicios {
      grid-area: txServicios;
      margin: 0;
      padding: 5px; }
      #mainServicios .txServicios .p1 {
        font-size: small; }
    #mainServicios .bloquesServicios {
      grid-area: bloquesServicios;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      justify-content: center; }
  .qrsServicios {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    row-gap: 10px;
    grid-template-areas: "qr1Ser" "qr2Ser" "vdServicios";
    margin: 0; }
    .qrsServicios .vdServicios iframe {
      width: 360px; } }

@media screen and (min-width: 500px) and (max-width: 1000px) {
  #mainServicios {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "imgServicios" "introServ" "imgServ" "txServicios" "bloquesServicios";
    justify-content: center; }
    #mainServicios .imgServ {
      display: grid;
      justify-content: center; }
      #mainServicios .imgServ img {
        height: 150px;
        width: 360px; }
    #mainServicios .introServ {
      grid-area: introServ;
      padding: 10px; }
      #mainServicios .introServ h1 {
        font-style: italic;
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;
        font-weight: 800;
        line-height: 0; }
    #mainServicios .txServicios {
      grid-area: txServicios;
      margin: 0;
      padding: 5px; }
      #mainServicios .txServicios .p1 {
        font-size: small; }
    #mainServicios .bloquesServicios {
      grid-area: bloquesServicios;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      justify-content: center; }
  .qrsServicios {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    row-gap: 10px;
    grid-template-areas: "qr1Ser" "qr2Ser" "vdServicios";
    margin: 0; }
    .qrsServicios .vdServicios iframe {
      width: 360px; } }

/* Pagina Ingenieria*/
.calendario {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "logo1 logo2 logo3";
  margin: 1rem;
  align-items: center;
  justify-items: center; }
  .calendario .logo1 {
    grid-area: logo1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 230px; }
    .calendario .logo1 .btn {
      width: 190px;
      background-color: rgba(215, 202, 157, 0.9); }
  .calendario .logo2 {
    grid-area: logo2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 230px; }
    .calendario .logo2 .btn {
      width: 190px;
      background-color: rgba(215, 202, 157, 0.9); }
  .calendario .logo3 {
    grid-area: logo3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 230px; }
    .calendario .logo3 .btn {
      width: 190px;
      background-color: rgba(215, 202, 157, 0.9); }

.botonera {
  height: 350px;
  display: flex;
  align-content: space-between;
  margin: 30px; }
  .botonera .btn-group {
    background-color: rgba(73, 52, 214, 0.249); }
    .botonera .btn-group .botito {
      background-color: rgba(43, 23, 171, 0.249); }

/* Pagina Quienes Somos*/
#mainQS {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "imgQS imgQS imgQS" "introQS introQS introQS" "box1 box2 box3";
  padding: 0 10px 20px 10px;
  gap: 10px; }
  #mainQS .imgQS {
    grid-area: imgQS; }
  #mainQS .introQS {
    grid-area: introQS;
    text-align: center;
    padding: 30px 10px; }
  #mainQS .box1 {
    grid-area: box1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    #mainQS .box1 .title {
      font-size: x-large; }
    #mainQS .box1 p {
      color: salmon; }
  #mainQS .box2 {
    grid-area: box2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    #mainQS .box2 .title {
      font-size: x-large; }
    #mainQS .box2 p {
      color: salmon; }
  #mainQS .box3 {
    grid-area: box3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    #mainQS .box3 .title {
      font-size: x-large; }
    #mainQS .box3 p {
      color: salmon; }

.mision {
  height: fit-content;
  display: grid;
  grid-template-rows: 80px auto;
  grid-template-areas: "imgBottomQS intro2QS intro2QS" "imgBottomQS descriQS descriQS";
  gap: 5px; }
  .mision .imgBottomQS {
    grid-area: imgBottomQS;
    display: flex;
    align-items: stretch; }
  .mision .intro2QS {
    grid-area: intro2QS;
    text-align: left;
    padding: 10px; }
    .mision .intro2QS h2 {
      color: #6c856c; }
  .mision .descriQS {
    grid-area: descriQS;
    display: flex;
    align-items: flex-start;
    padding: 10px; }
    .mision .descriQS .txQS {
      color: whitesmoke;
      text-align: justify;
      font-size: large; }

/* Pagina Contactenos*/
#mainContactenos {
  padding: 30px 40px; }
  #mainContactenos .encabex {
    padding: 3em 0; }
    #mainContactenos .encabex h1 {
      text-align: left;
      font-size: 4rem;
      font-family: Arial, Helvetica, sans-serif;
      font-style: italic; }
  #mainContactenos .introPages {
    padding: 2em 0 3em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 45px;
    padding-right: 45px; }
    #mainContactenos .introPages .ayuda h2 {
      color: #000;
      font-size: 24px;
      letter-spacing: .5px;
      padding-bottom: 2em;
      text-transform: none; }
    #mainContactenos .introPages .ayuda p {
      padding-bottom: 1.25rem;
      text-align: justify; }
  #mainContactenos .field {
    padding: 2em 0 1.5em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 45px;
    padding-right: 45px; }
    #mainContactenos .field legend {
      color: #000;
      font-size: 24px;
      letter-spacing: .5px;
      padding-bottom: 2em;
      text-transform: none; }
    #mainContactenos .field li {
      padding-bottom: 1.25rem;
      font-family: Arial, Helvetica, sans-serif; }
    #mainContactenos .field p {
      padding-bottom: 1.25rem;
      font-family: Arial, Helvetica, sans-serif;
      text-align: justify; }

.formCont {
  background-color: #8d4d4d;
  padding-bottom: 1.25rem; }

.check {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 0.2em 0.5em 0.5em;
  margin-left: 20px;
  margin-right: auto; }
  .check .leyenda {
    font-size: large; }

.botones {
  display: flex;
  gap: 1rem;
  margin-left: 20px;
  margin-right: auto; }

.boto {
  background-color: #292929;
  border-color: #292929;
  color: whitesmoke;
  font-size: 16px;
  min-height: 48px;
  min-width: 166px;
  line-height: 35px;
  padding: 4px 16px;
  vertical-align: middle;
  text-align: center;
  padding: 1em; }

@media screen and (max-width: 512px) {
  #mainContactenos {
    padding: 0; }
    #mainContactenos .encabex {
      padding: 3em 0; }
      #mainContactenos .encabex h1 {
        text-align: center;
        font-size: 3rem;
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic; }
    #mainContactenos .check {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;
      padding: 0.2em 0.5em 0.5em;
      margin-left: 20px;
      margin-right: auto; }
      #mainContactenos .check .leyenda {
        font-size: large; }
    #mainContactenos .botones {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      margin-left: auto;
      margin-right: auto; }
      #mainContactenos .botones .boto {
        min-height: 24px;
        min-width: 120px; } }
