/*No olvidarse de importar las variables*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

* html {
  scroll-behavior: smooth; }

* h1 {
  font-size: 35px; }

.kenburns-top {
  animation: kenburns-top 5s ease-out both; }

@keyframes kenburns-top {
  0% {
    transform: scale(1) translateY(0);
    transform-origin: 50% 16%; }
  100% {
    transform: scale(1.05) translateY(-15px);
    transform-origin: top; } }

.shake-vertical {
  animation: shake-vertical 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) 3s both; }

@keyframes shake-vertical {
  0%,
  100% {
    transform: translateY(0); }
  10%,
  30%,
  50%,
  70% {
    transform: translateY(-3px); }
  20%,
  40%,
  60% {
    transform: translateY(3px); }
  80% {
    transform: translateY(2px); }
  90% {
    transform: translateY(-2px); } }

body {
  background: linear-gradient(to top, #0b0b0b, #dad6d6);
  height: fit-content; }

#encabezado {
  top: -100vh;
  background-color: rgba(215, 202, 157, 0.9);
  margin-bottom: 20px; }

/* Main pag principal*/
#pagPrincipal {
  padding: 50px 0 0 0;
  display: grid;
  grid-template-rows: 150px auto;
  grid-template-areas: "txEntrada imgEntrada" "container imgEntrada"; }
  #pagPrincipal .txEntrada {
    grid-area: txEntrada;
    text-align: left;
    padding: 30px 10px;
    background-color: white; }
  #pagPrincipal .container {
    grid-area: container;
    background-color: white;
    display: flex;
    align-items: flex-start;
    padding: 10px; }
    #pagPrincipal .container .p1 {
      text-align: justify;
      font-size: large; }
  #pagPrincipal .imgEntrada {
    grid-area: imgEntrada;
    width: 200%; }

@media screen and (max-width: 768px) {
  #pagPrincipal {
    grid-template-areas: "txEntrada"  "imgEntrada" "container";
    grid-template-columns: 1fr;
    margin: 10px;
    padding: 5px; }
    #pagPrincipal .txEntrada {
      margin-top: 20px; } }

#tarjetas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 2rem;
  justify-items: center;
  text-align: center; }
  #tarjetas .tarjetas__caja {
    width: 344px;
    background-color: #efa5a5;
    padding: 2rem 3rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; }
    #tarjetas .tarjetas__caja .tarjetas__btn {
      display: inline-block;
      background-color: rgba(208, 59, 109, 0.893);
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
      color: white;
      text-transform: uppercase;
      padding: 0.5rem 2rem;
      border-radius: 10px;
      margin: 1.5rem 0rem; }
      #tarjetas .tarjetas__caja .tarjetas__btn:hover {
        transform: scale(1.05);
        background-color: darkgrey; }

@media screen and (max-width: 768px) {
  #tarjetas {
    padding: 30px 30px;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem; } }

@media screen and (max-width: 480px) {
  #tarjetas {
    padding: 30px 30px;
    grid-template-columns: repeat(1, 1fr); } }

/* Footer */
.foot {
  padding: 10px 50px;
  height: fit-content;
  display: grid;
  grid-template-columns: 0.4fr 4fr;
  grid-template-rows: 3fr;
  align-items: center;
  background-color: black;
  color: whitesmoke; }
  .foot .social {
    justify-content: flex-start; }
  .foot h3 {
    font-size: large;
    text-align: center; }
  .foot h4 {
    font-size: medium;
    text-align: center;
    color: rgba(215, 202, 157, 0.9); }

@media screen and (max-width: 600px) {
  .foot {
    grid-row: 1fr 1fr;
    justify-content: center; }
  .social {
    margin: 5px; }
  .social a {
    padding: 0 5px; }
  .texto {
    margin: 5px; } }

@media screen and (max-width: 480px) {
  .texto {
    margin: 5px; } }

.whatsapp {
  position: fixed;
  bottom: 30px;
  right: 30px; }

/* Pagina quienes somos*/
/* Pagina Contactenos*/
.cont_main {
  display: grid;
  justify-content: stretch;
  grid-template-columns: auto;
  grid-template-rows: 320px 500px;
  gap: 10px;
  margin: 5px 10px 20px 10px;
  grid-template-areas: "cont_img" "cont_sec";
  background-color: antiquewhite; }

.cont_img {
  grid-area: cont_img;
  align-self: center;
  justify-self: center; }

.field {
  grid-area: cont_sec;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(4, 100px);
  grid-template-areas: "name" "mail" "place" "option"; }
