
//Arrancando con SASS
/*No olvidarse de importar las variables*/

@import"Partials/variables";
@import"Partials/mapas";
@import"Partials/mixin";


//Código Principal
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

    * html {
      scroll-behavior: smooth; }


 

.kenburns-top {
    animation: kenburns-top 5s ease-out both; }
    
    @keyframes kenburns-top {
        0% {
          transform: scale(1) translateY(0);
          transform-origin: 50% 16%; }
        100% {
          transform: scale(1.05) translateY(-15px);
          transform-origin: top; } }
      
      .shake-vertical {
        animation: shake-vertical 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) 3s both; }
      
      @keyframes shake-vertical {
        0%,
        100% {
          transform: translateY(0); }
        10%,
        30%,
        50%,
        70% {
          transform: translateY(-3px); }
        20%,
        40%,
        60% {
          transform: translateY(3px); }
        80% {
          transform: translateY(2px); }
        90% {
          transform: translateY(-2px); } }
  
body{
    background: linear-gradient(to top,rgb(11, 11, 11),rgb(218, 214, 214));
    height: fit-content;
}

.encabezado{
   
   background-color: $color-header;
   margin-bottom: 20px;
}
/* Main pag principal*/ 

#pagPrincipal{
   display: grid;
   grid-template-rows: auto auto;
   grid-template-areas: "txEntrada txEntrada imgEntrada"
                        "container container imgEntrada";
   background-color:$color-principal;
   margin-top: 70px;
   justify-items: center;   
   .txEntrada{
      padding: 30px 0;
      grid-area:txEntrada;
      text-align: left;
    }
    .container{
      grid-area:container;
      display: flex;
      align-items: flex-start;
      padding: 10px;
      flex-wrap:wrap ;
      .p1{
            text-align: justify;
         font-size: large;
         }
    }
   .imgEntrada{
      grid-area:imgEntrada;
      }
}

hr{
   background-color: $color-header;
   height: 3px;
   width: 100%;
   margin-left: 30px;
   margin-right: 30px;
   box-sizing: inherit;
}

#tarjetas{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;   
   margin: 2rem;
   justify-items:center;
   text-align: center;
   column-gap: 10px;
   .tarjetas__caja{
      width: 344px;
      background-color: rgb(239, 165, 165);
      padding: 2rem 3rem;
      border-radius: 20px;
      box-shadow: #0000001a 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
      .tarjetas__btn{
         display: inline-block;
         background-color: rgba(208, 59, 109, 0.893);
         box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
         color: white;
         text-transform: uppercase;
         padding: 0.5rem 2rem;
         border-radius: 10px;
         margin: 1.5rem 0rem;
            &:hover{
               transform: scale(1.05);
               background-color: darkgrey;
            }    
      }
   }
}


@media screen and (max-width: 500px) {
   #pagPrincipal {
      grid-template-columns: auto;
      grid-template-areas: "txEntrada" 
                           "imgEntrada"
                           "container";
      justify-content: center;
      .txEntrada{
         grid-area: txEntrada;
         padding: 10px;
         h2{
            font-size: small;
            padding-top: 10px;
            margin-bottom: 0;
            font-weight: 800;
            line-height: 0;
         }
      }
      .container{
         grid-area: container;
         margin: 0;
         padding: 5px;
         .p1{
            font-size: small;
         }
      }
      .imgEntrada img{
         width: 360px;
      }
   }
   #tarjetas{
      padding: 15px;
      margin: 1rem;
      grid-template-columns: repeat(1, 1fr);
      row-gap: 5px;
      .tarjetas__caja{
         width: 280px;
      } 
   }
}

@media screen and (min-width: 500px) and (max-width: 1000px) {
   #pagPrincipal {
      grid-template-areas: "txEntrada" 
                           "imgEntrada"
                           "container";
      margin-top: 70px;
      .txEntrada{
         grid-area: txEntrada;
         margin: 0;
         text-align: center;
         h2{
            font-size: large;
            text-align: center;
         }
      }
      .container{
         grid-area: container;
         padding: 10px;
      }
      .imgEntrada{
         grid-area:imgEntrada;
         display: flex;
         justify-content: center;
         }
   }
   #tarjetas{
      padding: 15px;
      margin: 1rem;
      grid-template-columns: repeat(1, 1fr);
      row-gap: 5px; 
   }
}

 /* Footer */

.foot{
   padding: 10px 50px;
   height: fit-content;
   display: grid;
   grid-template-columns: 0.4fr 4fr;
   grid-template-rows: 3fr;
   align-items: center;
   background-color: $color-footer;
   color: whitesmoke;
   .social{
      justify-content: flex-start;
      
   }
   h3{
   font-size: large;
   text-align: center;
   }
   h4{
    font-size: medium;
   text-align: center;
   color: $color-header;
   }
}

@media screen and (max-width: 600px) {
   .foot {
      grid-row: 1fr 1fr;
     justify-content: center; } 
      .social {
         margin: 5px; }
      .social a {
        padding: 0 5px; }
      .texto{
         margin: 5px; }}
   
@media screen and (max-width: 480px) {
   .foot{
      padding: 5px 25px;
      .texto {
         margin: 5px; 
      } 
      .social {
         margin: 5px; 
      }
         .social a {
           padding: 0 5px; 
         }
      }
   }

.whatsapp {
    position: fixed;
    bottom: 30px;
    right: 30px; }


/* Pagina Servicios*/

#mainServicios{
   display: grid;
   grid-template-rows: auto 50px 400px auto;
   grid-template-areas: "imgServicios imgServicios imgServicios imgServicios"
                        "imgServ imgServ imgServ introServ"
                        "imgServ imgServ imgServ txServicios"
                        "bloquesServicios bloquesServicios bloquesServicios bloquesServicios";
   padding: 0 10px 20px 10px;
   gap: 5px;
   .imgServicios{
      grid-area: imgServicios;
   }
   .imgServ{
      grid-area: imgServ;
      display: flex;
      align-items: center;
   }
   .introServ{
      grid-area: introServ;
      text-align: center;
      padding: 30px 10px;
      h1{
         font-style: italic;
         font-family: Arial, Helvetica, sans-serif;
         font-size:40px;
         font-weight: 700;
      }
   }
   .txServicios{
      grid-area: txServicios;
      display: flex;
      align-items: center;
      padding: 10px;
      .p1{
         text-align: justify;
         font-size: large;
         }
   }
   .bloquesServicios{
      grid-area: bloquesServicios;
      display: flex;
      justify-content: space-around;
      .card-title{
         text-align: center;
         text-decoration: underline;
      }
   }
}

.qrsServicios{
   display: grid;
   grid-template-columns: 1fr 1fr 3fr;
   grid-template-rows: auto;
   grid-template-areas: "qr1Ser qr2Ser vdServicios vdServicios";
   margin: 1rem;
   align-items: stretch;
   justify-items:center;
   .qr1Ser{
      grid-area: qr1Ser;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .btn{
         background-color: $color-header;
      }
   }
   .qr2Ser{
      grid-area: qr2Ser;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .btn{
         background-color: $color-header;
      }
   }
   .vdServicios{
      grid-area: vdServicios;
      display: flex;
      align-items: stretch;
   }
}

@media screen and (max-width: 500px) {
   #mainServicios{
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto;
      grid-template-areas: "imgServicios"
                           "introServ"
                           "imgServ"
                           "txServicios"
                           "bloquesServicios";
      justify-content: center;
      .imgServ{
         display: grid;
         justify-content: center;
         img{
            height: 150px;
            width: 360px;
         }
      }
      .introServ{
         grid-area: introServ;
         padding:10px;
         h1{
            font-style: italic;
            font-family: Arial, Helvetica, sans-serif;
            font-size:large;
            font-weight: 800;
            line-height: 0;
         }
      }
      .txServicios{
         grid-area: txServicios;
         margin: 0;
         padding: 5px;
         .p1{
            font-size: small;
            }
      }
      .bloquesServicios{
         grid-area: bloquesServicios;
         display: grid;
         grid-template-columns: auto;
         grid-template-rows: 1fr 1fr 1fr 1fr;
         justify-content:center;
      }
   }
   .qrsServicios{
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 1fr 1fr 1fr;
      justify-items: center;
      row-gap: 10px;
      grid-template-areas: "qr1Ser"
                           "qr2Ser"
                           "vdServicios";
      margin: 0;
      .vdServicios iframe{
         width: 360px;
      }
   }
}

@media screen and (min-width: 500px) and (max-width: 1000px) {
   #mainServicios{
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto;
      grid-template-areas: "imgServicios"
                           "introServ"
                           "imgServ"
                           "txServicios"
                           "bloquesServicios";
      justify-content: center;
      .imgServ{
         display: grid;
         justify-content: center;
         img{
            height: 150px;
            width: 360px;
         }
      }
      .introServ{
         grid-area: introServ;
         padding:10px;
         h1{
            font-style: italic;
            font-family: Arial, Helvetica, sans-serif;
            font-size:large;
            font-weight: 800;
            line-height: 0;
         }
      }
      .txServicios{
         grid-area: txServicios;
         margin: 0;
         padding: 5px;
         .p1{
            font-size: small;
            }
      }
      .bloquesServicios{
         grid-area: bloquesServicios;
         display: grid;
         grid-template-columns: auto;
         grid-template-rows: 1fr 1fr 1fr 1fr;
         justify-content:center;
      }
   }
   .qrsServicios{
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 1fr 1fr 1fr;
      justify-items: center;
      row-gap: 10px;
      grid-template-areas: "qr1Ser"
                           "qr2Ser"
                           "vdServicios";
      margin: 0;
      .vdServicios iframe{
         width: 360px;
      }
   }
}
/* Pagina Ingenieria*/

.calendario{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: auto;
   grid-template-areas: "logo1 logo2 logo3";
   margin: 1rem;
   align-items: center;
   justify-items:center;
   .logo1{
      grid-area: logo1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items:center;
      height: 230px;
      .btn{
         width: 190px;
         background-color: $color-header;
      }
   }
   .logo2{
      grid-area: logo2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 230px;
      .btn{
         width: 190px;
         background-color: $color-header;
      }
   }
   .logo3{
      grid-area: logo3;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 230px;
      .btn{
         width: 190px;
         background-color: $color-header;
      }
   }
}
.botonera{
   height: 350px;
   display: flex;
   align-content: space-between;
   margin: 30px;
   .btn-group{
      background-color: rgba(73, 52, 214, 0.249);
      .botito{
         background-color: rgba(43, 23, 171, 0.249);
      }
   }
}

  /* Pagina Quienes Somos*/

#mainQS{
   display: grid;
   grid-template-rows: 1fr 1fr 1fr;
   grid-template-rows: auto;
   grid-template-areas: "imgQS imgQS imgQS"
                        "introQS introQS introQS"
                        "box1 box2 box3";
   padding: 0 10px 20px 10px;
   gap: 10px;
   .imgQS{
      grid-area: imgQS;
   }
   .introQS{
      grid-area: introQS;
      text-align: center;
      padding: 30px 10px;
   }
   .box1{
      grid-area: box1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .title{
         font-size: x-large;
      }
      p{
         color: salmon;
      }
   }
   .box2{
      grid-area: box2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .title{
         font-size: x-large;
      }
      p{
         color: salmon;
      }
   }
   .box3{
      grid-area: box3;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .title{
         font-size: x-large;
      }
      p{
         color: salmon;
      }
   }

}
.mision{
   height: fit-content;
   display: grid;
   grid-template-rows: 80px auto;
   grid-template-areas: "imgBottomQS intro2QS intro2QS"
                        "imgBottomQS descriQS descriQS";
   gap: 5px;
   .imgBottomQS{
      grid-area: imgBottomQS;
      display: flex;
      align-items: stretch;
   }
   .intro2QS{
      grid-area:intro2QS;
      text-align: left;
      padding: 10px;
      h2{
         color: rgb(108, 133, 108);
      }
      
   }
   .descriQS{
      grid-area: descriQS;
      display: flex;
      align-items: flex-start;
      padding: 10px;
      .txQS{
         color: whitesmoke;
         text-align: justify;
         font-size: large;
      }
   }
}

  /* Pagina Contactenos*/
#mainContactenos{
   padding: 30px 40px;
   .encabex{
      padding: 3em 0;
      h1{
         text-align: left;
         font-size: 4rem;
         font-family: Arial, Helvetica, sans-serif;
         font-style: italic;
      }
   }
   .introPages{
      padding: 2em 0 3em;
      margin-left: auto;
      margin-right: auto;
      padding-left: 45px;
      padding-right: 45px;
      .ayuda h2{
         color: #000;
         font-size: 24px;
         letter-spacing: .5px;
         padding-bottom: 2em;
         text-transform: none;
      }
      .ayuda p{
         padding-bottom: 1.25rem;
         text-align: justify;
      }
   }
   .field{
      padding: 2em 0 1.5em;
      margin-left: auto;
      margin-right: auto;
      padding-left: 45px;
      padding-right: 45px;
      legend{
         color: #000;
         font-size: 24px;
         letter-spacing: .5px;
         padding-bottom: 2em;
         text-transform: none;
      }
      li{
         padding-bottom: 1.25rem;
         font-family: Arial, Helvetica, sans-serif;
      }
      p{
         padding-bottom: 1.25rem;
         font-family: Arial, Helvetica, sans-serif;
         text-align: justify; 
      }
   }
}
 .formCont{
   background-color: rgb(141, 77, 77);
   padding-bottom: 1.25rem;
 }
 .check{
   display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 0.2em 0.5em 0.5em;
    margin-left: 20px;
    margin-right: auto;
    .leyenda{
      font-size: large;
    }
 }
 .botones{
   display: flex;
   gap: 1rem;
   margin-left: 20px;
   margin-right: auto;
 }
 .boto{
   background-color: #292929;
   border-color: #292929;
   color: whitesmoke;
   font-size: 16px;
   min-height: 48px;
   min-width: 166px;
   line-height: 35px;
   padding: 4px 16px;
   vertical-align: middle;
   text-align: center;
   padding: 1em;
}

@media screen and (max-width: 512px){
   #mainContactenos{
      padding: 0;
      .encabex{
         padding: 3em 0;
         h1{
            text-align: center;
            font-size: 3rem;
            font-family: Arial, Helvetica, sans-serif;
            font-style: italic;
         }
      }
      .check{
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         align-items: center;
         gap: 1rem;
         padding: 0.2em 0.5em 0.5em;
         margin-left: 20px;
         margin-right: auto;
         .leyenda{
            font-size: large;
         }
      }
      .botones{
         display: flex;
         align-items: center;
         justify-content: center;
         gap: 0.5rem;
         margin-left: auto;
         margin-right: auto;
         .boto{
            min-height: 24px;
            min-width: 120px;
         }
      }
   }
}