

$standar: (
    color-standar: brown,
    font-standar: 20px,
    border-standar: 2px solid rgba(18, 14, 2, 0.9),
);

$premium: (
    color-prime: rgb(180, 45, 45),
    font-prime: 1.5rem,
    border-prime: 2.5px solid rgba(41, 32, 4, 0.9),
);
